<html>
    <heaD>
        <title>Express Web</title>
    </heaD>

    <body>
        <h1>About Page</h1>
        <b><%=title%></b>
        <br>
        <a href="/"><b>Home</b></a> &nbsp;
        <a href="/about"><b>About</b></a> &nbsp;
        <a href="/contact"><b>Contact</b></a> &nbsp;
        <hr>
    </body>
</html>