<div class="col-md-12 noPadding text-center backFooter">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-4 col-xs-12 marginTop">
                <h3 class="footertext">All Right Reserved@Cemreworks </h3>
            </div>

            <div class="col-md-4 col-xs-12 marginTop">
                <img alt="Bootstrap Image Preview" src="/img/kloof.jpg">

            </div>
            <div class="col-md-4 col-xs-12 marginTop ">
                <ul class="list-inline centerMobil>
                    <li><a href="#"><img src="/img/face.png"/></a></li>
                    <li><a href="#"><img src="/img/twit.png"/></a></li>
                    <li><a href="#"><img src="/img/google-plus.png"/></a></li>
                  </ul>	
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/ajax-mail.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>