<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <h1 class="alert alert-danger text-center">Error Page</h1>
        <hr>
        <h4 class="alert alert-warning text-center"><%=error%></h4>
    </body>
</html>        